* text=auto

*.sh text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.a binary
*.lib binary
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.jar binary
*.c3b binary
